{% extends "core/base.html" %}
{% load static %}
{% block title %}О нас — dark academia{% endblock %}

{% block content %}
<section class="page-section">
  <div class="container">
    <h1 class="page-title">О проекте</h1>

    <div class="page-text-block">
      <p>
        Сайт посвящён субжанру <em>dark academia</em> — книгам, эстетике и историям,
        в которых знание становится искушением для героев. Здесь собраны базовые тексты о жанре,
        подборка ключевых романов и авторов, а также статьи, вдохновлённые университетской
        атмосферой, библиотеками и поздними ночами за конспектами.
      </p>
    </div>

    <div class="page-text-block">
      <h2>Кто стоит за сайтом</h2>
      <p>
        Сайт — проект магистрантки НИ ТГУ Евграфовой Кристины
      </p>
    </div>

    <div class="page-text-block">
      <h2>Зачем нужен этот сайт</h2>
      <p>
        Это попытка собрать в одном месте основную 
        информацию о dark academia. При изучении
        жанра я не смогла найти место, в котором бы все 
        "лежало на своих местах", поэтому идея сайта 
        образовалась сама собой.
      </p>
    </div>

  </div>
</section>
{% endblock %}
