{% extends "core/base.html" %}
{% load static %}
{% block title %}Оливи Блэйк{% endblock %}

{% block content %}
<section class="page-section">
  <div class="container">
    <h1 class="page-title">Оливи Блэйк</h1>

    <div class="page-text-block">
      <div class="author-detail-layout">
      <img src="{% static 'img/blake.jpg' %}" alt="Оливия Блейк" class="book-cover">
      <p>
        Оливи Блэйк — псевдоним американской писательницы Алексин Форол Фоллмут.
        Она родилась и выросла в районе залива Сан-Франциско, училась в Лос-Анджелесе,
        а до писательской карьеры успела получить степень по градостроительству и
        поработать в юридической сфере. 
      </p>
    </div>

    <div class="page-text-block">
      <h2>Карьерный путь и стиль</h2>
      <p>
        Блэйк прославилась благодаря серии книг «The Atlas Six», которая сначала
        существовала в виде самиздата и получила огромную популярность в соцсетях,
        а затем была переиздана крупным издательством и стала бестселлером в США
        и Великобритании. Её проза сочетает элементы научной фантастики, фэнтези,
        психологической драмы и романтики, но во всех текстах ощущается интерес к
        «коллективному» опыту и к тому, как группы людей распределяют власть и
        ответственность. 
      </p>
    </div>

    <div class="page-text-block">
      <h2>Оливи Блэйк и dark academia</h2>
      <p>
        «Шестёрка Атласа» и её продолжения воспринимаются как магическая версия dark academia:
        тут есть и закрытое сообщество, и жёсткий отбор, и библиотека, где буквально хранятся
        опасные знания. Но Блэйк делает акцент на динамике группы: на том, как союзники
        превращаются в соперников, и как желание «делать добро для мира» постепенно
        превращается в прикрытие для концентрации власти. 
      </p>
    </div>
    {% include "core/_navigator.html" %}
  </div>
</section>

{% endblock %}
