{% extends 'core/base.html' %}
{% load static %}
{% block title %}Книги dark academia{% endblock %}

{% block content %}
<section class="page-section">
  <div class="container">
    <h1 class="page-title">Книги dark academia</h1>
    <p class="page-subtitle">
      Подборка книг, с которых можно начать знакомство с жанром. 
    </p>

    <div class="simple-grid">
      <article class="simple-card">
        <a href="{% url 'book_taina' %}" class="card-link">
        <h3>“Тайная история” — Донна Тартт</h3>
        <div class="meta">классика жанра</div>
        <p>
          Эталонная история о студентах, которые слишком далеко зашли в поисках красоты и истины.
          Подходит тем, кто любит медленное повествование и психологическую драму.
        </p>
        </a>
      </article>

      <article class="simple-card">
        <a href="{% url 'book_devyatyi_dom' %}" class="card-link">
        <h3>“Девятый дом” — Ли Бардуго</h3>
        <div class="meta">магия и тайные общества</div>
        <p>
          Мрачный, атмосферный роман, где оккультные практики сплетаются с элитным образованием.
          Хороший вариант, если хочется мистики и динамики.
        </p>
        </a>
      </article>

      <article class="simple-card">
        <a href="{% url 'book_zlodei' %}" class="card-link">
        <h3>“Если бы мы были злодеями” — М.Л. Рио</h3>
        <div class="meta">театр, шекспир и одержимость</div>
        <p>
          Идеален для любителей театра и классических трагедий. Группа актёров
          постепенно теряет связь с реальностью, пока роли не сливаются с их собственной жизнью.
        </p>
        </a>
      </article>

      <article class="simple-card">
        <a href="{% url 'book_shesterka' %}" class="card-link">
        <h3>“Шестёрка Атласа” — Оливи Блэйк</h3>
        <div class="meta">современная dark academia</div>
        <p>
          История о магическом обществе, где талант и амбиции — главный капитал. Подойдёт,
          если интересны интриги.
        </p>
        </a>
      </article>
    </div>
  </div>
</section>
{% endblock %}
